{%extends "good_base.html"%}
	{%block title%}
	<title>天天生鲜-商品详情</title>
	{%endblock%}
{%block script%}
<script>
	$(function () {
		var price = {{product.gprice}};
		$(".add").click(function () {
		    var num = parseFloat($(".num_show").val())
		    num++
		    $(".num_show").attr({value:num})
			total = num*(price*100)/100
			string = total+'元'
			$("#price").text(string)
        });
		$(".minus").click(function () {
		    var num = parseFloat($(".num_show").val())
			if (num<=1){
		        return false
			}
		    num--
		    $(".num_show").attr({value:num})
			total = num*(price*100)/100
			string = total+'元'
			$("#price").text(string)
        });

		$(".add_cart").click(function () {
			var num = parseInt($(".num_show").val())
			$.get("/cart/add_cart/"+num+"/{{product.id}}",function (data) {
				count = data.count
				$(".goods_count").text(count)
			})
		});

		$(".add_cart").click(function () {
			$(".baoguo").addClass("move")

			$(".baoguo").on("transitionend",function () {
				$(".baoguo").removeClass("move")
			})
        })
    })
</script>
<style>
	.baoguo {
		position: absolute;
		top: 560px;
		left:700px;
		z-index: -1;
		width: 30px;
		transition: 1s ease; /* Safari 和 Chrome */
	}
	.move{
		position: absolute;
		top: 80px;
		left:1050px;
		width: 0px;
		z-index: 100;
	}
</style>
{%endblock%}
{%block center%}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/goods/index">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/{{product.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{product.gtitle}}</h3>
			<p>{{product.gjianjie}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{product.gprice}}</em></span>
				<span class="show_unit">单  位：{{product.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em id="price">{{product.gprice}}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart" >加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{%for f in popular_foods%}
					<li>
						<a href="#"><img src="/{{f.gpic}}"></a>
						<h4><a href="#">{{f.gtitle}}</a></h4>
						<div class="prize">￥{{f.gprice}}</div>
					</li>
					{%endfor%}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{product.gcontent|safe}}</dd>
				</dl>
			</div>

		</div>
	</div>
<img src="/static/images/baoguo-1.png" alt="包裹图标" class="baoguo" >
{%endblock%}